@model dynamic

@{
    ViewBag.Title = "Release Notes - Changes and Enhancements";    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Application Changes History
            </p>
        </div>
    </section>
}
<h3>04-May-2013</h3>
<ul>
    <li>Code changes committed for the Azure WebSites article</li>    
</ul>
<h3>29-April-2013</h3>
<ul>
    <li>GitHub Repository was created and solution source code was committed</li>    
</ul>