@model dynamic

@{
    ViewBag.Title = "Release Notes - Changes and Enhancements";    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Application Changes History
            </p>
        </div>
    </section>
}
<h3>20-May-2013</h3>
<ul>
    <li>EF Migrations</li>    
    <ul>
        <li>Got the EF Migrations working with two different DbContexts</li>
    </ul>    
</ul>
<h3>13-May-2013</h3>
<ul>
    <li>Web Site cleansing</li>    
    <ul>
        <li>All OAutho references were removed from the solution</li>
    </ul>    
</ul>
<h3>12-May-2013</h3>
<ul>
    <li>Web Site enhancements</li>    
    <ul>
        <li>Add a Session Wrapper and add UserProfiel and UserHaulier and integrate with web controllers</li>
        <li>Improve some CSS elements and a small UI review</li>
        <li>Add home page stats</li>
    </ul>    
</ul>
<h3>11-May-2013</h3>
<ul>
    <li>Challenge 3 - Domain Context is connected to database in Azure</li>    
    <li>EF Repository persistence issue is resolved</li>    
</ul>
<h3>10-May-2013</h3>
<ul>
    <li>Challenge 3 - Domain EF Entities are integrated with the MVC site</li>    
    <li>The domain is at the moment connected to a SQL-CE instance</li>    
    <li>There is an issue where EF is saving the DispatchNote twice -- need further analysis</li>    
</ul>
<h3>09-May-2013</h3>
<ul>
    <li>Challenge 3 - Domain and EF projects were added to the solution - WIP</li>    
</ul>
<h3>04-May-2013</h3>
<ul>
    <li><a href="http://www.codeproject.com/Articles/582931/LiteDispatch-Logistic-solution-on-the-cloud#Challenge2">Challenge 2</a> code changes were committed</li>    
</ul>
<h3>29-April-2013</h3>
<ul>
    <li>GitHub Repository was created and solution source code was committed</li>    
</ul>