<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="56126ealbert.LiteTracker" Publisher="CN=EB882A4E-2EAA-404D-BD6E-02C7DBCC12A7" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LiteTracker</DisplayName>
    <PublisherDisplayName>ealbert</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LiteTracker.UI.App">
      <VisualElements DisplayName="LiteTracker" Logo="Assets\Logo_150.png" SmallLogo="Assets\SmallLogo.png" Description="LiteTracker - Tracking monitor application for in-transit dispatches managed by the LiteDispatch application" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" ShortName="LiteTracker" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>